.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  height: 60px; /* Add fixed height */
}

.header-logo {
  flex: 1;
  padding-left: 15px; /* Add padding to match the space taken by sidebar button */
}

.header-logo a, .header-logo span {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.header-nav {
  display: flex;
  flex: 0;
  order: -1;
}

.sidebar-toggle-btn {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  width: 40px; /* Fixed width for consistency */
}